$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 24px;
}


.wrap {
	max-width: 1170px;
	margin: 0 auto;
}
.page-main {
	padding-bottom: 160px;
	background-image: url(../img/main-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 175px;
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/Logo.svg);
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		font-size: 16px;
		&__item {
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom: 3px solid transparent;
			transition: 0.3s;
			&:hover {
				border-bottom: 3px solid $accent-color;
			}
		}
		&__item.active {
			border-bottom: 3px solid $accent-color;
		}
		&__link {
			color: $light-color;
			text-decoration: none;
			letter-spacing: 0.5px;
		}
	}
}

.block-text {
	flex-basis: calc(93% - 500px);
	margin-top: 0;
	margin-left: -1px;
	&-width {
		margin-top: -5px;
		flex-basis: calc(93% - 520px);
	}
	&__name {
		margin-top: 0;
		margin-left: 3px;
		font-family: 'Open Sans', serif;
		font-size: 18px;
		letter-spacing: 0.7px;
		margin-bottom: 35px;
	}
	&__name_top {
		margin-top: 16px;
		margin-left: 0;
		margin-bottom: 30px;
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 38px;
		letter-spacing: 1.8px;
		span {
			display: block;
			margin-top: 25px;
			color: $accent-color;
			font-size: 18px;
			letter-spacing: 0.9px;
			text-transform: none;
		}
	}
	&__description {
		margin-bottom: 24px;
		font-family: 'Open Sans', serif;
		font-size: 15px;
		letter-spacing: 0.75px;
		line-height: 24px;
		&_margin-bottom {
			margin-bottom: 25px;
		}
	}
	&__btn {
		display: block;
		margin-top: 48px;
		margin-bottom: 19px;
		padding: 12px 0;
		background: linear-gradient(to top left, #65e49c, #65e4af);
		color: $light-color;
		font-size: 18px;
		letter-spacing: 0.75px;
		max-width: 250px;
		text-decoration: none;
		border-radius: 3px;
		text-align: center;
		box-shadow: 0 -2px #59bb88 inset;
	}
	&__date {
		margin-bottom: 3px;
		font-family: 'Open Sans', serif;
		letter-spacing: 0.75px;
	}
	&__subtitle {
		font-size: 18px;
		letter-spacing: 0.9px;
	}
}

.block-book {
	display: flex;
	justify-content: start;
	&-demo {
		display: block;
		width: 447px;
		height: 643px;
		background-image: url(../img/book.svg);
		background-repeat: no-repeat;
		flex-basis: 500px;
		position: relative;
		&__title{
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 60px;
			letter-spacing: 1.55px;
			position: absolute;
			top: 118px;
			left: 128px;
		}
		&__author {
			font-family: 'Open Sans', serif;
			font-size: 14px;
			letter-spacing: 0.7px;
			color: $accent-color;
			position: absolute;
			bottom: 43px;
			left: 85px;
		}
		&__description {
			display: block;
			margin-top: 10px;
			font-family: 'Open Sans', serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $accent-color;
		}
		
	}
	small {
		font-size: 12px;
		letter-spacing: 0.1px;
		font-style: italic;
	}
}

.page {
	padding-top: 161px;
	padding-bottom: 141px;
	&_gray {
		background-color: $bg-light-color;
	}
	&__title {
		font-size: 48px;
		text-align: center;
		margin-bottom: 25px;
		letter-spacing: 2px;
	}
	&__subtitle {
		font-size: 18px;
		color: $accent-color;
		text-align: center;
		letter-spacing: 0.9px;
	}
	&__btn {
		display: block;
		margin: 83px auto;
		padding: 14px 36px;
		background: linear-gradient(to top left, #65e49c, #65e4af);
		color: $light-color;
		font-size: 18px;
		letter-spacing: 0.75px;
		max-width: 250px;
		outline: none;
		border: none;
		border-radius: 5px;
		text-align: center;
		box-shadow: 0 -2px #b2f1be inset;
	}
}

.block-slider {
	background-color: red;
	display: flex;
	&__item{
		max-width: 300px;
	}
}

.block-author {
	display: flex;
	justify-content: space-between;
	&__btn{
		display: inline-block;
		margin: 25px 0px;
		padding: 0 30px;
		background: linear-gradient(to top left, #65e49c, #65e4af);
		color: $light-color;
		font-size: 18px;
		text-decoration: none;
		line-height: 50px;
		letter-spacing: 0.4px;
		max-width: 250px;
		outline: none;
		border: none;
		border-radius: 5px;
		text-align: center;
		box-shadow: 0 -2px #b2f1be inset;
		&_margin-bottom{
			margin-top: 0;
			margin-bottom: 40px;
		}
	}
}

.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		right: 0;
		z-index: -1;
	}
	&__img {
		margin-top: 47px;
		margin-right: 44px;
		&_right{
			margin-top: 49px;
			margin-left: 50px;
		}
	}
	.ava-left {
		left: 0;
	}
}

.block-author-statistics {
	display: flex;
	justify-content: space-around;
	margin-top: 195px;
	p {
		font-family: 'Open Sans', serif;
		text-align: center;
		font-size: 18px;
		span {
			font-family: 'Roboto Slab', serif;
			display: block;
			font-weight: 100;
			font-size: 80px;
			color: $accent-color;
			margin-bottom: 45px;
		}
	}
}

.block-about {
	display: flex;
	justify-content: space-between;
	margin-top: 84px;
	margin-bottom: 95px;
	h3 {
		margin-bottom: 20px;
		letter-spacing: 1.2px;
	}
	&-social {
		display: flex;
		align-items: center;
		&__title{
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0.8px;
		}
		&__list {
			list-style-type: none;
			padding-left: 25px;
			&>li {
				display: inline-block;
				font-size: 18px;
				margin-right: 12px;
				&>a {
					color: $accent-color;
				}
			}
		}
	}
	&__text {
		flex-basis: 41%;
		&__desc {
			font-family: 'Open Sans', serif;
			letter-spacing: 0.6px;
			margin-bottom: 12px;
		}
	}
	&__table {
		flex-basis: 48.5%;
		h3 {
			margin-bottom: 24px;
		}
		&__list {
			margin: 0;
			padding: 0;
			counter-reset: list;
			column-count: 2;
			&>li {
				position: relative;
				margin-bottom: 8px;
				padding-left: 30px;
				counter-increment: list;
				list-style-type: none;
				letter-spacing: 0.7px;
				&::before {
					content: counter(list) ". ";
				}
				&::after {
					content: "+";
					font-family: 'Open Sans', serif;
					padding: 3px 7px;
					line-height: 16px;
					font-size: 15px;
					color: $light-color;
					background-color: #5fc9b3;
					position: absolute;
					left: -7px;
					top: 1px;
				}
			}
		}
		&__btn {
			display: block;
			margin-top: 28px;
			margin-left: -5px;
			margin-bottom: 19px;
			padding: 14px 44px;
			background: linear-gradient(to top left, #65e49c, #65e4af);
			color: $light-color;
			font-size: 18px;
			letter-spacing: 0.75px;
			max-width: 250px;
			outline: none;
			border: none;
			border-radius: 5px;
			text-align: center;
			box-shadow: 0 -2px #b2f1be inset;
			}
		}
	}


.block-books {
	margin-top: 85px;
	display: flex;
	justify-content: space-evenly;
}
.block-books__book {
	display: flex;
	flex-basis: 300px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__example {
		display: block;
		width: 260px;
		min-height: 410px;
		background-image: url(../img/book.svg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		border-radius: 5px;
	}
	&__title{
		color: $light-color;
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 1px;
		top: 71px;
		left: 78px;
	}
	&__description{
		font-family: 'Open Sans', serif;
		font-size: 12px;
		letter-spacing: 0.55px;
		color: $accent-color;
		position: absolute;
		top: 90px;
		left: 68px;
	}
	&__author{
		font-family: 'Open Sans', serif;
		font-size: 12px;
		letter-spacing: 0.55px;
		color: $accent-color;
		position: absolute;
		bottom: 15px;
		left: 80px;
	}
	&__link {
		margin-top: 3px;
		font-family: 'Open Sans', serif;
		font-size: 15px;
		letter-spacing: 0.9px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		color: $accent-color;
	}
}
.book-about__title {
	margin-top: 35px;
	letter-spacing: 1px;
}

.blog {
	margin: 75px 0 68px 0;
	display: flex;
	justify-content: center;
	&__item {
		flex-basis: 370px;
		margin: 0px 15px;
		&__title {
			font-size: 18px;
			letter-spacing: 0.9px;
		}
		&__info {
			margin-top: 4px;
			margin-bottom: 0;
			font-family: 'Open Sans', serif;
			a {
				text-decoration: none;
				color: $accent-color;
			}
		}
		&__desc{
			margin-top: 11px;
			font-family: 'Open Sans', serif;
			letter-spacing: 0.7px;
		}
	}
	&-photo {
		width: 370px;
		height: 225px;
		margin-bottom: 15px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-btn {
		margin: 0 auto;
		padding: 0 6px;
		font-size: 18px;
		text-decoration: none;
		letter-spacing: 1.2px;
		line-height: 50px;
	}
}

.block-letter {
	display: flex;
	justify-content: space-between;
	&__item {
		flex-basis: 49%;
		h2 {
			margin-top: 5px;
			font-size: 48px;
			margin-bottom: 25px;
			letter-spacing: 2px;
		}
		p {
			font-family: 'Open Sans', serif;
			font-size: 15px;
			letter-spacing: 0.75px;
			line-height: 24px;
		}
		&__input {
			margin-bottom: 20px;
			box-sizing: border-box;
			display: block;
			width: 100%;
			padding: 15px 27px;
			background-color: $bg-dark-color;
			border: none;
			border-radius: 3px;
			color: #6B6B85;
			font-family: 'Open Sans', serif;
		}
		&__btn {
			box-sizing: border-box;
			display: block;
			width: 100%;
			padding: 15px 27px;
			background: linear-gradient(to top left, #65e49c, #65e4af);
			border: none;
			border-radius: 3px;
			color: $light-color;
			font-family: 'Open Sans', serif;
		}
	}
}
footer {
	background-color: $bg-dark-color;
	padding: 160px 0 190px 0;
}
.block-footer {
	display: flex;
	justify-content: space-between;
	background-color: $bg-dark-color;
	&__bukee {
		flex-basis: 370px;
		&__logo {
			display: block;
			width: 137px;
			height: 28px;
			margin-bottom: 26px;
			background-image: url(../img/Logo.svg);
		}
		&__about {
			margin-bottom: -15px;
			font-family: 'Open Sans', serif;
			font-size: 15px;
			color: $light-color;
			letter-spacing: 0.75px;
			line-height: 24px;
		}
	}

	&__links {
		flex-basis: 270px;
		li {
			margin-bottom: 4px;
			list-style-type: none;
			a{
				text-decoration: none;
				font-family: 'Open Sans', serif;
				font-size: 15px;
				color: $light-color;
				letter-spacing: 0.75px;
				line-height: 24px;
			}
		}
	}

	&__contacts {
		flex-basis: 270px;
		&>ul {
			display: flex;
			margin-top: 25px;
			justify-content: flex-start;
			&>li {
				margin-right: 13px;
				list-style-type: none;
				&>a {
					text-decoration: none;
					color: $accent-color;
				}
			}
		}
	}
	&__subtitle {
		margin: 10px 0 20px 0;
		font-size: 18px;
		text-transform: uppercase;
		color: $accent-color;
		letter-spacing: 1px;
	}
}